.filtersInput {
    border: 2px solid #1E1BA0;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    flex: auto;
    margin-bottom: 10px;
}

.filtersInput::placeholder {
    color: #aaa;
}

.searchButton {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1BA0;
    border-radius: 10px;
    margin-left: 5px;
    img {
        width: 25px;
        height: 25px;
    }
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
