.multiSelect {
  width: 300px;
  position: relative;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.chip {
  background-color: #ccc;
  border-radius: 16px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.removeBtn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-left: 4px;
  cursor: pointer;
}

.filterInput {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ccc;
}

.options {
  position: absolute;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

.option {
  padding: 8px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}
