.login-form {
  display: flex;
  justify-content: center;
  &__form {
    h1 {
      font-size: 36px;
    }
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    input {
      padding: 10px 15px;
      background: #FFFFFF;
      border-radius: 10px;
      width: 380px;
      height: 41px;
    }
  }
  button {
    background: var(--main-color);
    border-radius: 10px;
    width: 380px;
    height: 41px;
    color: white;
  }
}
